
/*-------------------------------*/
/*-----GENERAL------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/*Containers*/
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #009688 0%,
        #009688 15%,
        #DBDBD2 15%,
        #DBDBD2 100%
    );
    display: flex;
}
.container__sapp{
    width: 1200px;
    height: 800px;
    background-color: #ffffff;
    margin: auto;
}

/*-----F.GENERAL-----*/
/*-------------------------------*/