<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/5a11ba09a6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2.4.0/build/global/luxon.min.js"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div id="root">
        <header>

        </header>
        <main>
            <div class="container">
                <div class="container__app">
                    <div class="left__container__app">
                        <div class="user__information">
                            <div class="avatar">
                                <img src="img/avatar_io.jpg" class="user__avatar">
                                <p class="user__name">Andrii</p>
                            </div>
                            <div class="icons__user">
                                <i class="fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <div class="news">
                            <div class="news__ico">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="news__text">
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <p class="news__text__bottom">Attiva notifiche desktop</p>
                            </div>
                        </div>
                        <div class="search">
                            <div class="search__table">
                                <div class="button__search__table">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <div class="input__search__table">
                                    <input placeholder="Cerca o inizia una nuova chat" id="searchcontact">
                                </div>
                            </div>
                        </div>
                        <div class="contacts" v-for="(contact, index) in contacts" @click="currentIndex = index" :class="currentIndex === index ? `active` : null">
                            <div class="contact__avatar">
                                <div class="contact__photo">
                                    <img :src="contact.img">
                                </div>
                                <div class="contact__informations">
                                    <p class="contact__name">{{contact.name}}</p>
                                    <p class="contact__last__singin">Ultimo messaggio inviato</p>
                                </div>
                            </div>
                            <p class="contact__last__singin__time"> {{contact.time}}</p>
                        </div> 
                    </div>
                    <div class="right__container__app">
                        <div class="user__information">
                            <div class="avatar">
                                <img :src="contacts[currentIndex].img" class="user__avatar">
                                <div class="guest__information">
                                    <p class="user__name">{{contacts[currentIndex].name}}</p>
                                    <p class="last__login">Ultimo Acesso oggi alle 12:00</p>
                                </div>
                            </div>
                            <div class="icons__user">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                        <div class="chat">
                            <div class="chat__message" v-for="massage in contacts[currentIndex].massages" :class="massage.status === 'received' ? 'chat__contact' : 'chat__user' ">{{massage.massage}}<p class="chat__time">{{massage.date}}</p></div>                    
                        </div> 
                        <form @submit.prevent="PushMassagge" class="push__massagge">
                            <i class="fa-regular fa-face-smile"></i>
                            <input placeholder="Scrivi un messaggio" class="write__massagge" v-model="NewMex" required pattern=".*\S+.*">
                            <i class="fa-solid fa-microphone"></i>
                        </form> 
                    </div>

                </div>
            </div>
        </main>
        <footer>
        </footer>
    </div>
    <script src="js/main.js"></script>
</body>
</html>